<!DOCTYPE html>
<html>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
.opposite {
    color: yellow;
    background-color: lightskyblue;
}
</style>

<head>
    <img src='./img/geneyx.png'>
    <ul>
        <li>
            <a href='/'>Home</a>
        </li>
        <li>
            <a href='/labs'>Labs</a>
        </li>
        <li>
            <a href="/owners">Owners</a>
        </li>
    </ul>

</head>
</html>