{{> head }}
<div>
    <ul class="opposite">
        <li>
            <a href="#">List labs</a>
        </li>
        <li>
            <a href="#">Add lab</a>
        </li>
        <li>
            <a href="#">Edit lab</a>
        </li>
    </ul>
</div>