{{> head }}
<div>
    <ul class="opposite">
        <li>
            <a href="#">List owners</a>
        </li>
        <li>
            <a href="#">Add owner</a>
        </li>
        <li>
            <a href="#">Edit owner</a>
        </li>
    </ul>
</div>